# Template config configuration.
# Clone this file & rename it to `config.{dev | prod | staging}.json`.
# Then, edit it to configure the application credentials for your environment.

{
  "credentials": {
    "username": "guest",
    "password": "guest"
  }
}